# Python
__pycache__/
*.pyc
output/
# Output directory
output/
build/
dist/


# Temporary files
temp_image_0.png

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
env/

.png
.jpg
.jpeg
